


<form action = '/app_change_request' method = "post" enctype="multipart/form-data">

    {% for item in list_apps %}
        <span class="app-row">

            <input class=border-banner type="image" src="static/appstatic/icon/{{item}}.png" name="switch {{ item }}" id="switch">

        </span>
    {% endfor %}
</form>
<style>

#app_config_div {
text-align: center;
align-content: center;

}

.app-upload input {
  display: none;
    visibility: hidden;
}
.app-uninstall input {
    display: none;
    visibility: hidden;
}
body{
        font-family:Arial;
    font-size: 20px;
}
.border-banner{

    border: 3px solid #555555;
    border-radius: 30px;
    width: 40%;
    height: 100px;


}

.border-banner:hover {
    box-shadow: 0 0 3px 1px rgb(236, 86, 164);
}
</style>